@import url(../../shared/card.style.css);

.card {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 5px;
  padding: 25px;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #828282;
}

.btn-back svg {
  width: 20px;
  height: 20px;
}

/* TOP */
.top {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
}

.army {
  color: #797979;
}

/* BOTTOM */
.bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 5px;
}

.field {
  color: #797979;
}


/* loading */
.area-loading {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circle {
  position: relative;
  width: 15px;
  height: 15px;
  background: #f8d210;
  border-radius: 10px;
}

.circle.x1 {
  animation: loading 1500ms infinite linear;
}

.circle.x2 {
  animation: loading2 1500ms infinite linear;
}

@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}

@keyframes loading2 {
  0% {
    right: 0;
  }
  50% {
    right: 30px;
  }
  100% {
    right: 0;
  }
}