<div class="card">
  <div class="division">
    <div class="btn-back" routerLink="..">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </div>
  </div>
  <div class="division">
    <div class="top">
      <div class="name">Aztecs</div>
      <div class="army">Infantry and Monk</div>
    </div>
    <div class="bottom">
      <div class="field">Expansion</div>
      <div class="value">The Conquerors</div>

      <div class="field">Civilization Bonus</div>
      <div class="value">
        <ul>
          <li>Villagers carry +5</li>
          <li>Military units created 15% faster</li>
          <li>+5 Monk hit points for each</li>
          <li>Monastery technology</li>
          <li>Loom free</li>
        </ul>
      </div>

      <div class="field">Team Bonus</div>
      <div class="value">Relics generate +33% gold</div>
    </div>
  </div>
</div>
