/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Six Caps", sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(#050a30, #000c66);
  color: #ffffff;
}
