@import url(shared/container.style.css);

.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ========= HEADER ========= */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}

/* ========== LOGO ========== */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: 80%;
}

/* ========== MENU ========== */
.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu__item {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 200ms;
}

.menu__item:hover {
  transform: scale(1.1);
}

.menu__item--active {
  color: #f8d210;
}

/* ========== MAIN ========== */
main * {
  color: #000000;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.content {
  padding: 20px 10px;
  background-color: #fcfcfc;
  flex-grow: 1;
}

.bg-wave {
  display: none;
}

@media screen and (min-width: 600px) {
  /* ========== LOGO ========== */
  .logo {
    margin-bottom: 20px;
  }

  .logo img {
    width: 400px;
  }

  /* ========== MENU ========== */
  .menu__item {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }

  .content {
    padding: 40px 0;
  }
}

@media screen and (min-width: 900px) {
  /* ========= HEADER ========= */
  header {
    padding: 35px 0 20px 0;
  }

  /* ========== MENU ========== */
  .menu {
    gap: 30px;
  }

  .menu__item {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  /* ========== MAIN ========== */
  .bg-wave {
    position: relative;
    bottom: -1px;
    display: block;
    height: 100px;
    width: 100%;
    background: url(../../assets/svgs/wave.svg) no-repeat;
    background-size: cover;
  }

  .content {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1600px) {
}
